body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: black;
  color: white;
}

.logo {
  display: inline-block;
  font-size: 24px;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.main-visual {
  position: relative;
  text-align: center;
}

.main-visual img {
  width: 100%;
  height: auto;
}

.catchcopy {
  display: flex;
  align-items: center;
  padding: 50px 0;
  text-align: left;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.catchcopy img {
  width: 40%;
  max-width: 400px;
  display: block;
  margin: auto;
}

.catchcopy .text {
  width: 60%;
}

.catchcopy p {
  text-align: justify;
}


.news {
  background-color: #f4f4f4;
  padding: 50px 0;
  text-align: center;
}

.news ul {
  list-style: none;
  padding: 20px;
}

.news ul li {
  background-color: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  text-align: left;
}








footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.sample {
  font-size: 20px;
}

.footer {
  font-size: 10px;
}

footer ul {
  list-style: none;
  margin-top: 10px;
}

footer ul li {
  display: inline;
  margin: 0 10px;
}

footer ul li a {
  color:white;
  text-decoration: none;
}